<div class="container">	
	<div style="margin-top: 20px;">
    <button mat-stroked-button color="primary" routerLink="/itemList" class="fa fa-long-arrow-left">Go Back
    </button>
		<span> </span>
    <button mat-stroked-button color="warn" (click)="onSelect(item)" style="cursor: pointer">
		Edit
    </button>
	</div>
	<mat-grid-list cols="9" rowHeight="100px">
		<mat-grid-tile [colspan]="3" [rowspan]="5">
			<div class="panel panel-default">
				<div class="panel-body">
					<img [src]="'http://localhost:8181/image/item/'+item.id+'.png'" class="responsive-img" />
				</div>
			</div>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="6">
			<h3>{{item.title}}<mat-divider></mat-divider></h3>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="3" [rowspan]="3">
			<mat-list>
				<mat-list-item>
					<p><strong>Owner: </strong>{{item.owner}}</p>
				</mat-list-item>
        <mat-divider></mat-divider>
				<mat-list-item>
					<p><strong>Manufacture: </strong>{{item.manufacture}}</p>
				</mat-list-item>
        <mat-divider></mat-divider>
				<mat-list-item>
					<p><strong>Manufactured Date: </strong>{{item.manufacturedDate}}</p>
				</mat-list-item>
        <mat-divider></mat-divider>
				<mat-list-item>
					<p><strong>Category: </strong>{{item.category}}<mat-divider></mat-divider></p>
				</mat-list-item>
        <mat-divider></mat-divider>
				<mat-list-item>
					<p><strong>Sub-Items: </strong>{{item.numberOfSubItems}}<mat-divider></mat-divider></p>
				</mat-list-item>
			</mat-list>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="3" [rowspan]="3">
			<mat-list>
				<mat-list-item>
					<p><strong>Cover: </strong>{{item.format}}<mat-divider></mat-divider></p>
				</mat-list-item>
				<mat-list-item>
					<p><strong>SKU: </strong>{{item.sku}}<mat-divider></mat-divider></p>
				</mat-list-item>
				<mat-list-item>
					<p><strong>Weight: </strong>{{item.weight}}<mat-divider></mat-divider></p>
				</mat-list-item>
				<mat-list-item>
					<p><strong>List Price: </strong>{{item.listPrice}}<mat-divider></mat-divider></p>
				</mat-list-item>
				<mat-list-item>
					<p><strong>Our Price: </strong>{{item.ourPrice}}<mat-divider></mat-divider></p>
				</mat-list-item>
				<mat-list-item>
					<p><strong>Number in Stock: </strong>{{item.inStockNumber}}<mat-divider></mat-divider></p>
				</mat-list-item>
			</mat-list>
		</mat-grid-tile>
		<mat-grid-tile [colspan]="6">
			<p><strong>Description: </strong>{{item.description}}</p>
		</mat-grid-tile>
	</mat-grid-list>
</div>
