<div class="container">
	<div class="table-responsive" style="margin-top: 30px;">
		<table id="itemListTable" class="table bordered highlight">
			<thead>
				<tr>
					<th>
						<input type="checkbox" (change)="updateSelected($event.target.checked)" />
					</th>
					<th>Title</th>
					<th>Owner</th>
					<th>Category</th>
					<th>List Price</th>
					<th>Our Price</th>
					<th>Weight</th>
          <th>Stock</th>
          <th>MF</th>
          <th>MFD</th>
          <th>Sub Items</th>
          <th>Active?</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let item of bookList">
					<td>
						<input hidden="hidden" name="id" />
						<input type="checkbox" [checked]="allChecked" (change)="updateRemoveItemList($event.target.checked, item)" />
					</td>
					<td><a (click)="onSelect(item)" style="cursor:pointer">{{item.title}}</a></td>
					<td>{{item.owner}}</td>
					<td>{{item.category}}</td>
					<td>{{item.listPrice}}</td>
					<td>{{item.ourPrice}}</td>
					<td>{{item.weight}}</td>
          <td>{{item.inStockNumber}}</td>
          <td>{{item.manufacture}}</td>
          <td>{{item.manufacturedDate}}</td>
          <td>{{item.numberOfSubItems}}</td>
          <td>{{item.active}}</td>
					<td>
						<input hidden="hidden" name="id" />
						<button mat-button (click)="openDialog(item)" value="delete"><span class="fa fa-times"></span> delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button mat-raised-button class="mat-warn" id="deleteSelected" (click)="removeSelectedItems()">Delete Selected</button>
</div>
